


body{
    height: 87ch;
    width: 190ch;
}

img{
    height: 87ch;
    width: 190ch;
    position:absolute;
}

#games{
    width: 60ch;
    height: 50ch;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    position: relative;
}

input{
    width: 30ch;
    height: 25ch;
    opacity: 50%;
    position: relative;
    top: 15ch;
    left: 70ch;
}
